################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/DataLayer/bin/Debug/net8.0
/DataLayer/obj
